@import "../../../styles.scss";
@import "../../../styles.scss";

footer {
  background-color: $customLightGrey;
  width: 100%;
  position: relative;
  clear: both;
  height: 190px;
  margin-top: 0px;
  padding-top: 0px;
  overflow: visible;
}
