<html>
    <div class="container-fuild">
        <div class="rContent">
            <ul>
                <li class="nd" *ngFor="let item of rounds">
                    <div *ngIf="item.ganada; else fail" class="iCard green">
                        Intentos: {{item.intentos}} Palabra: {{item.palabra}}
                    </div>
                    <ng-template #fail>
                       <div class="iCard red">
                           Intentos: {{item.intentos}} Palabra: {{item.palabra}}
                       </div>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</html>
