<html>
    <div class="container-fuild">
        <div class="rContent">
            <ul>
                <li class="nd" *ngFor="let item of rounds">
                    <div *ngIf="item.ganada == true" class="iCard green">
                        Intentos: {{item.intentos}} Palabra: {{item.palabra}}
                    </div>
                    <div *ngIf="item.ganada == false" class="iCard red">
                        Intentos: {{item.intentos}} Palabra: {{item.palabra}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</html>
