.rContent{
    border: 3px solid grey;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow-y: scroll;
    margin: auto;
    li{
        list-style: none;
    }

    ul{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.rContent::-webkit-scrollbar {
    width: 7px;            
  }
  
  .rContent::-webkit-scrollbar-track {
    background: none;        
  }
  
  .rContent::-webkit-scrollbar-thumb {
    background-color: gray;    
    border-radius: 20px;      
  }

.iCard{
    width: 700px;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 25px;
}

.green{
    border: 3px solid green;
}

.red{
    border: 3px solid red;
}

.info{
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
    padding: 5px;
}
