<div class="container w-25">
  <div class="row justify-content-center mt-5">
    <h2 class="text-center mb-4">Bienvenido:</h2>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="userFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. JoseManuel23"
        />
        <mat-hint>Usuario valido</mat-hint>
        <mat-error
          *ngIf="
            userFormControl.hasError('userMinChar') &&
            userFormControl.hasError('patternLegit') &&
            !userFormControl.hasError('required')
          "
        >
          Por favor inserta un usuario válido.
        </mat-error>
        <mat-error *ngIf="userFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          [(ngModel)]="passwordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Contraseña entre 4 y 12 carácteres"
        />
        <mat-hint>Contraseña válida</mat-hint>
        <mat-error
          *ngIf="
            passwordFormControl.hasError('userMinChar') &&
            passwordFormControl.hasError('userMaxChar') &&
            !passwordFormControl.hasError('required')
          "
        >
          Por favor inserta una contraseña válida.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Contraseña es<strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" class="btn btn-primary btn-block mx-auto mt-4">
        Ingresar
      </button>
    </form>
  </div>
</div>
