@import "../../../styles.scss";

.keyboard {
  margin: 5% auto;
}

.key {
  margin: 5px 5px;
  background-color: $customLightGrey;
  border-radius: 10px;
  outline: none;
  border: 0;
  min-height: 62px;
  min-width: 62px;

  p {
    margin: auto;
    font-size: 20px;
    min-height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    color: $customColorTextGrey;
  }
  &:hover {
    transition: 0.3s;
    background-color: $customLightGreyHover;
    border: 1px solid $customGreyBorder;
    p {
      color: white;
    }
  }
  &:disabled {
    margin: 5px 5px;
    background-color: $customGreyDisabledButton;
    border-radius: 10px;
    outline: none;
    border: 0;

    p {
      margin: auto;
      font-size: 20px;
      min-height: 50px;
      line-height: 50px;
      font-weight: bold;
      text-decoration: none;
      color: $customLightGreyHover;
    }
  }
  &.hit {
    background-color: $hit;
    p {
      color: white;
    }
  }
  &.partialHit {
    background-color: $parcialHit;
    p {
      color: white;
    }
  }
  &.fail {
    background-color: $fail;
    p {
      color: white;
    }
  }
}
