<div class="keyboard">
  <div class="container w-50">
    <div class="row" *ngIf="firstKeyboardRow">
      <button
        class="col key"
        *ngFor="let key of firstKeyboardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound || this.round === 5"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row text-center" *ngIf="secondKeyboardRow">
      <button
        class="col key"
        *ngFor="let key of secondKeyboardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound || this.round === 5"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row text-center" *ngIf="thirdKeyboardRow">
      <button
        class="col key"
        *ngFor="let key of thirdKeyboardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound || this.round === 5"
      >
        <p>{{ key.letter }}</p>
      </button>
      <button
        class="col key"
        (click)="pressKeyValue(sendKey)"
        [disabled]="
          !this.disableKeys ||
          this.correctSyntaxWord ||
          !this.nextRound ||
          this.round === 5
        "
      >
        <p>{{ sendKey.letter }}</p>
      </button>
    </div>
  </div>
</div>
