<div class="keyboard">
  <div class="container w-50">
    <div class="row justify-content-between text-center">
      <button
        class="col-1 key"
        *ngFor="let key of firstKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row justify-content-between text-center">
      <button
        class="col-1 key"
        *ngFor="let key of secondKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row justify-content-between text-center">
      <button
        class="col-1 key"
        *ngFor="let key of thirdKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound"
      >
        <p>{{ key.letter }}</p>
      </button>
      <button
        class="col-1 key"
        (click)="pressKeyValue(sendKey)"
        [disabled]="!this.disableKeys || this.correctSyntaxWord"
      >
        <p>{{ sendKey.letter }}</p>
      </button>
    </div>
  </div>
</div>
