<div class="keyboard">
  <div class="container w-50">
    <div class="row">
      <button
        class="col key"
        *ngFor="let key of firstKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row text-center">
      <button
        class="col key"
        *ngFor="let key of secondKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound"
      >
        <p>{{ key.letter }}</p>
      </button>
    </div>
    <div class="row text-center">
      <button
        class="col key"
        *ngFor="let key of thirdKeyBoardRow"
        (click)="pressKeyValue(key)"
        [ngClass]="newBoxStyles(key)"
        [disabled]="!this.roundFound || !this.nextRound"
      >
        <p>{{ key.letter }}</p>
      </button>
      <button
        class="col key"
        (click)="pressKeyValue(sendKey)"
        [disabled]="
          !this.disableKeys || this.correctSyntaxWord || !this.nextRound
        "
      >
        <p>{{ sendKey.letter }}</p>
      </button>
    </div>
  </div>
</div>
