/* You can add global styles to this file, and also import other style files */

$customLightGrey: #d3d3d3;
$customLightGreyHover: #b2b2b2;
$customColorTextGrey: rgba(97, 96, 96, 0.749);
$customGreyBorder: grey;
$hit: #43a047;
$parcialHit: #e4a81d;
$fail: #757575;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$customGreyDisabledButton: rgb(226, 226, 226);

.hit {
  background-color: $hit !important;
  p {
    color: white !important;
  }
}

.partialHit {
  background-color: $parcialHit !important;
  p {
    color: white !important;
  }
}

.fail {
  background-color: $fail !important;
  p {
    color: white !important;
  }
}

