/* You can add global styles to this file, and also import other style files */

$customLightGrey: #d3d3d3;
$customLightGreyHover: #b2b2b2;
$customColorTextGrey: rgba(97, 96, 96, 0.749);
$customGreyBorder: grey;
$customGreyDisabledButton: rgb(226, 226, 226);
$customRedBorder: red;
$customGreenBorder: green;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
